button, input, textarea {
	background-color: transparent;
	border: none;
	border-color: inherit;
	border-radius: 0;
	font-family: $text;
	color: inherit;
}

button {
	cursor: pointer;
	font-size: em(44);
	
	@media screen and ( max-width: $base + px ) {
	    font-size: 2.25vw;
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		font-size: 16px;
	}
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
	text-rendering: optimizeLegibility; 
	
	font: {
		family: $text;
	}
	cursor: text;
	color: inherit;
}

input {
	&[disabled],
	&[readonly] {
		opacity: .5;
	}
}

input {
	&[type=text],
	&[type=email],
	&[type=tel] {
		width: 100%;
		line-height: 1;
		color: $color-black;
		font: {
			family: $orator;
			size: em(24);
			weight: $medium;
		}
		
		@media screen and ( max-width: $base + px ) {
		    font-size: 1.25vw;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
		    font-size: 13px;
		}
	}
}


@include input-placeholder {
	font: {
		family: $orator;
		size: em(24);
		weight: $medium;
	}
}

textarea {
	resize: none;
	overflow: auto;
}

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

::-webkit-input-placeholder {color: inherit;}
:-moz-placeholder {color: inherit; }
::-moz-placeholder {color: inherit; }
:-ms-input-placeholder { color: inherit; }

input[type=checkbox]:not(old) {
	display: none;
}

