.c-logo {
	position: fixed;
	z-index: 10;
	left: 70px; top: 50px;
	width: grid(126);
	display: block;
	
	img {
		width: 100%; height: 119px;
	}
	
	@media screen and ( min-width: $base + 1 + px ) {
		width: 160px;
	}
	
	@media screen and ( max-width: $tablet + px ) {
		left: 40px; top: 20px;
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		width: grid(100, $tablet_portrait);
	}
	
	@media screen and ( max-width: $smartphone + px ) {
		left: 20px; top: 0;
	}
	
}
