// Fonts

$aliens:		'AliensAndCows_trial', sans-serif;
$knucklebones:	'Knucklebones', sans-serif;
$orator:		'OratorStd', sans-serif;
$overpass:		'Overpass Mono', sans-serif;

$text:			$overpass;


// Font weights

$regular:			400;
$bold:				700;
$medium:			500;
$semibold:			600;


// Default

$base-font-size:	22;
$base:				1920;

$desktop:				1600;
$tablet:				1024;
$tablet_portrait:		768;
$smartphone:			640;
$smartphone_portrait:	365;